body{
    margin: 0;
    background-color: black;
    font-family: monospace;
}

.header{
    border-bottom: 3px solid aqua;
    display: flex;
    justify-content: space-between;

}

.container{
    width: 80%;
    margin: auto;
    display: flex;
}

.header .container{
    justify-content: space-between;
    align-items: center;
}

.destaque{
    font-weight: 800;
}

.titulo{
    color: aqua;
    width: fit-content;
    font-weight: 500;
}

.navBar{
    color: coral;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 300px;
    padding: 0;
    justify-items: center;
    font-size: 15px;
}

/* Fim Cabeçalho */

/* Começo Banner */

.banner{
    background-image: url("imgs/bg-jelly-fish-para-home.png");
    height: 500px;
    color: #FFFFFF;
    display: flex;
}

.banner .container p span {
    font-weight: 1000;
}

.banner .container{
    font-size: 36px;
    justify-content: center;
}

.banner .container p{
    width: 10%;
}

/* Fim do Banner */

/* Começo Social */

.social{
    background-color: beige;
    display: flex;
    padding-bottom: 50px;
}

.social .container .boxes{
    display: flex;
}

.box img{
    width: 170px;
}

.box {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Fim Social */

/* Começo Footer */

.footer{
    background-color: #32B9CD;
    height: 95px;
    color: #FFFFFF;
    display: flex;
    font-size: 20px;
}

.footer .container{
    justify-content: center;
}

a{
    text-decoration: none;
    color: coral;
}

.banner .container .card{
    background-color: beige;
    height: 400px;
    width: 400px;
    display: flex;
    flex-direction: column;
    color: palevioletred;
    align-items: center;
    border-radius: 12px;
    border: solid palevioletred 5px;
}

.card h1{
    font-size: 30px;
}

.card h2{
    font-size: 25px;
}

.card h4{
    font-size: 16px;
}

.card input {
    border: palevioletred solid 2px;
    padding: 10px;
    text-align: center;
    border-radius: 12px;
    width: 70%;
}

.card button{
    height: 40px;
    width: 100px;
    background-color: palevioletred;
    margin-top: 25px;
    font-size: 20px;
    color: #FFFFFF;
    font-family: monospace;
    border: 0;
    border-radius: 18px;
    cursor: pointer;
}

/* Cadastro */

.bannerCadastro{
    background-image: url("imgs/bg-jelly-fish-para-home.png");
    height: 650px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
}

.containerCadastro{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardCadastro{
    background-color: beige;
    height: 550px;
    width: 600px;
    display: flex;
    flex-direction: column;
    color: palevioletred;
    align-items: center;
    border-radius: 12px;
    border: solid palevioletred 5px;
}

.cardCadastro h1{
    font-size: 30px;
}

.cardCadastro h2{
    font-size: 25px;
}

.cardCadastro h4{
    font-size: 16px;
}

.cardCadastro input {
    border: palevioletred solid 2px;
    padding: 10px;
    text-align: center;
    border-radius: 12px;
    width: 70%;
}

.cardCadastro button{
    height: 50px;
    width: 180px;
    background-color: palevioletred;
    margin-top: 25px;
    font-size: 20px;
    color: #FFFFFF;
    font-family: monospace;
    border: 0;
    border-radius: 18px;
    cursor: pointer;
}

.senhaCadastro{
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: center;
}

.campoSenha{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}